.addContactContainer {
    min-height: 100vh;
    padding-top: 1px;
    background-color: #f3ece6;
}
.header {
    border: 1px solid black;
    border-radius: 5px;
    width: 330px;
    margin: 10px auto;
    padding: 5px;
}
.input{
    max-width: 180px;
    right: 35px;
}
.addStrings {
    width: 350px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}