.state{
    padding: 5% 0;
}
.auth {
    margin: 25% auto;
    display: flex;
    border: 1px solid #282c34;
    border-radius: 5px;
    width: 400px;
    padding: 5px 0;
}
.error {
    color: red;
    height: 50px;
    width: 280px;
    margin: 0 auto;
    text-align: left;
}